[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "~=2.2.1"
numpy = "~=1.26.4"
pydantic = "~=2.16.3"
pytest = "~=8.1.1"
bmi = "~=1.0.0"
bmipy = "~=2.0.1"

[dev-packages]

[requires]
python_version = "3.10"
